#Initialize mod_rewrite
php_value session.save_path /home/f0498365/domains/f0498365.xsph.ru/tmp
php_value session.gc_maxlifetime 604800
php_value session.cookie_lifetime 604800
php_flag output_buffering on
RewriteEngine On
<FilesMatch "\.(html|htm|js|css|php)$">
    FileETag None
    <IfModule mod_headers.c>
        Header unset ETag
        Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
        Header set Pragma "no-cache"
        Header set Expires "Wed, 12 Jan 1980 05:00:00 GMT"
    </IfModule>
</FilesMatch>

ErrorDocument 403 /error/403.php
ErrorDocument 404 /error/404.php